<div class="container card" style="width: 30rem;">
  <div class="card-body">
    <p id="alert"><%= alert %></p>
    <h1 class="display-4 text-center">New User</h1>
        <%= render 'form', user: @user %>
  </div>
</div>
