<div class="jumbotron">
  <h1 class="display-4">GoMana</h1>
  <p class="lead">Where will your next outing be?</p>
  <hr class="my-4">
  <p>Lighten up, just enjoy life, smile more, laugh more, and don't get so worked up about things.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>